@charset "UTF-8";



/* Element Reset */
a:link, 
a:visited, 
a:active					{ font-size:12px; color:#666; text-decoration:none; letter-spacing:0; }
a:hover					{ color:#003791; text-decoration:none; letter-spacing:0; }

fieldset, form, ul, li,
h2, h3, h4				{ margin:0; padding:0;}
ul, li						{ list-style:none;}
label						{ cursor:pointer;}
caption					{ color:#ffffff}
img						{ vertical-align:middle; }
img, fieldset			{ border:0;}
legend					{ position:absolute;width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;border:0;overflow:hidden}

address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:normal; }

#accessibility, 
.skip, 
hr							{ position:absolute; width:1px; height:1px; overflow:hidden; left:-1000%; font-size:0; line-height:0; padding:0; margin:0}




/* Common Class */
input.inputText			{ border:1px solid #e5e5e5; padding:2px}
textarea					{ border:1px solid #e5e5e5; padding:2px 6px}
.inputCheck				{ vertical-align:middle}
.cyan						{ color:#01a99b}



/* base */
*							{ margin: 0; padding: 0; font-family: Dotum, Gulim, Arial,  AppleGothic, sans-serif; color: #555; line-height:1.5em; }
html, 
body, td, th, 
div, ol, ul, 
p, span					{ font-size:12px; }

input						{ line-height:normal}
input.inputText		{ border:1px solid #ccc; }





/* layout */
body						{ margin:0; padding:0;  }
#container				{ width:100%; height:100%; }
#header					{ width:1250px; height:110px; }






/* Top Menu */   
.topmenu				{ float:right; position:relative; width:auto; padding-top:26px; }
.topmenu ul			{ float:right}
.topmenu li				{ float:left; }
.topmenu li a			{ margin:0 10px}
.topmenu li.end a	{ margin:0 22px 0 13px}
.topmenu li.end01 a	{ margin:0}
.topmenu li img		{ vertical-align:top}

h1							{ float:left; padding-left:28px}





/* GNB */
#gnb-wrapper			{ float:left; width:100%; height:50px;  }
#gnb						{ width:90%; height:18px; padding-top:15px; margin-left:25px; text-align:center; zoom:1}
#gnb:after				{ content:""; display:block; clear:both}
#gnb li					{ float:left; background:url('/board/_jns/img/main/lineGnb_01.gif') no-repeat scroll right 3px }
#gnb li a				{ display:block; padding-top:2px; margin:0 18px; font-weight:bold; color:#fff }		
#gnb li a:hover		{ color:#7dddf5; font-weight:bold}
#gnb li.end				{ background:none}
#header #gnb .m1 	{ width:170px; font-weight:bold; padding:0; background:none}
#header #gnb .m1 a	{ color:#baff00 !important; padding-left:0 }
#header #gnb .m2 a	{ background:none}
#header #gnb .m3 a	{ background:none}
#header #gnb .m4 a	{ background:none}
#header #gnb .m5 a	{ background:none}
#header #gnb .m6 a	{ background:none}
#header #gnb .m7 a	{ background:none}
#header #gnb .m8 a	{ background:none}
#header #gnb .m9 a	{ background:none}


@media all and (max-width:955px){
.topmenu				{ float:right; position:relative; width:auto; margin-right:20px; padding-top:26px; }
#gnb li a				{ display:block; padding-top:2px; padding-left:0; margin:0 12px; font-weight:bold; color:#fff }		
}


@media all and (min-width:1120px){
#gnb li a				{ padding-left:20px; margin:0 20px; font-weight:bold; color:#fff }		
#header #gnb .m2 a	{ background:url("/board/_jns/img/main/btGnb_02.gif") no-repeat scroll 0 0}
#header #gnb .m3 a	{ background:url("/board/_jns/img/main/btGnb_02.gif") no-repeat scroll 0 0}
#header #gnb .m4 a	{ background:url("/board/_jns/img/main/btGnb_01.gif") no-repeat scroll 0 0}
#header #gnb .m5 a	{ background:url("/board/_jns/img/main/btGnb_03.gif") no-repeat scroll 0 0}
#header #gnb .m6 a	{ background:url("/board/_jns/img/main/btGnb_04.gif") no-repeat scroll 0 0}
#header #gnb .m7 a	{ background:url("/board/_jns/img/main/btGnb_06.gif") no-repeat scroll 0 0}
#header #gnb .m8 a	{ background:url("/board/_jns/img/main/btGnb_07.gif") no-repeat scroll 0 0}
#header #gnb .m9 a	{ background:url("/board/_jns/img/main/btGnb_08.gif") no-repeat scroll 0 0}
}



/* Visual */
div.bx-wrapper		{ border:0; box-shadow:0 3px 5px #ccc; background:#ddd}
div.bx-wrapper .bxslider>div{ width:100%; height:100px; }